@import '../include-media';
// Utility Classes
::ng-deep #app .mt-8 {
  margin-top: 32px;
}
::ng-deep #app .mt-4 {
  margin-top: 16px;
}

::ng-deep .mat-tooltip {
  font-size: 13px;
  line-height: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
::ng-deep input {
  font-size: 18px;
}
::ng-deep .mat-snack-bar-container {
  background-color: #424242;
  color: #fff;
}

::ng-deep #app .no-outline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px 8px 12px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  background-color: transparent;
  color: $White;
  cursor: pointer;
  line-height: unset;
  img,
  svg {
    height: 14px;
    width: 14px;
  }
  &:disabled {
    opacity: 0.0;
  }
}

::ng-deep #app .outline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $R_Dark_V1;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  background-color: transparent;
  color: $White;
  cursor: pointer;
  line-height: unset;
  img,
  svg {
    height: 14px;
    width: 14px;
  }
  &:disabled {
    opacity: 0.4;
  }
}
::ng-deep #app .outline-danger {
  border: 1px solid $Darker_Red;
  color: $Darker_Red;
  border-radius: 8px;
}
::ng-deep #app .outline-primary {
  border: 1px solid $Primary_Blue;
  color: $Primary_Blue;
  border-radius: 8px;
}
::ng-deep #app .action-btn {
  justify-content: center;
  padding: 11px 28px;
  width: 100%;
  border-radius: 8px;
}

::ng-deep #app .mat-dialog-container {
  padding: 32px;
  background-color: $Modal_BG;
  @include media('<=phone') {
    padding: 24px;
  }
  border-radius: 8px;
}
::ng-deep .cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 75%);
}
::ng-deep .app-modal {
  h4 {
    font-size: 20px;
    font-weight: 400;
    color: $White;
  }
  .modal-header {
    display: flex;
    position: relative;
    align-items: center;
    .close {
      position: absolute;
      cursor: pointer;
      right: 0;
      height: 20px;
      width: 20px;
      padding: 6px;
    }
  }
  .submit-buttons {
    width: 100%;
    background-color: $Light_Blue;
    color: $White;
    border-radius: 8px;
    padding: 12px 0px;
    font-size: 16px;
    border: none;
    line-height: unset;
    &:disabled {
      opacity: 0.4;
    }
  }
  .cancel-button {
    width: 100%;
    background-color: transparent;
    border: 1px solid $Light_Blue;
    padding: 12px 18px;
    color: $White;
    border-radius: 8px;
    line-height: unset;
  }
}

::ng-deep input[type='text'],
::ng-deep input[type='password'] {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $Grey;
  border: none;
  border-bottom: 2px solid $R_Dark_V1;
  padding: 16px 0px 8px 0px;
  background-color: transparent;
  margin-top: 16px;
  outline: none;
  width: 100%;
}

::ng-deep input[type='text'],
::ng-deep input[type='password']:focus {
  color: $White;
}

::ng-deep .field {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
::ng-deep .fields-group {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
}

::ng-deep .buttons-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  @include media('<=phone') {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
  }
}

/* Works on Firefox */
::ng-deep * {
  scrollbar-width: thin;
  scrollbar-color: $Modal_BG $Light_White;
  @include media('<=phone') {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Works on Chrome, Edge, and Safari */
::ng-deep *::-webkit-scrollbar {
  width: 16px;
  @include media('<=phone') {
    display: none;
  }
}

::ng-deep *::-webkit-scrollbar-corner,
::ng-deep *::-webkit-scrollbar-track {
  background: $Modal_BG;
}

::ng-deep *::-webkit-scrollbar-thumb {
  background-color: $Light_White;
}
/* Buttons */
::ng-deep *::-webkit-scrollbar-button:single-button {
  background-color: #373737;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::ng-deep *::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent $Grey transparent;
}
/* Down */
::ng-deep *::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: $Grey transparent transparent transparent;
}

/* Mat Snackbar */
::ng-deep .success {
  background-color: $Green;
  color: $White;
}

::ng-deep .error {
  background-color: $Red;
  color: $White;
}

::ng-deep #app .mat-dialog-container {
  background-color: $R_Dark_V3;
}
